<div class="container-fluid">
  <div class="mb-5">
    <h1>在宅勤務 時間管理システム</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <b-form-group label-for="user-code" label="社員コード：" class="text-left">
        <b-form-input id="user-code" v-model="userCode" trim size="sm">{{ userCode }}</b-form-input>
      </b-form-group>
    </div>
    <div class="col-6">
      <b-form-group label-for="user-name" label="社員氏名：" class="text-left">
        <b-form-input id="user-name" v-model="userName" trim size="sm">{{ userName }}</b-form-input>
      </b-form-group>
    </div>
    <div class="col-6">
      <b-form-group label-for="boss-mail" label="上長メール：" class="text-left">
        <b-form-input id="boss-mail" v-model="bossName" trim size="sm">{{ bossMail }}</b-form-input>
      </b-form-group>
    </div>
    <div class="col-6">
      <b-form-group label-for="boss-name" label="上長氏名：" class="text-left">
        <b-form-input id="boss-name" v-model="bossMail" trim size="sm">{{ bossName }}</b-form-input>
      </b-form-group>
    </div>
    <!-- <h2>{{ prise }}</h2> -->
  </div>
  <div class="mt-5">
    <b-button variant="primary" @click="register">登録</b-button>
  </div>
</div>